# mod_rewrite on
        RewriteEngine on
#Zend route conf cond
        RewriteCond %{REQUEST_FILENAME} !-f
        RewriteCond %{REQUEST_FILENAME} !-d
#rules
        RewriteRule !\.(js|ico|gif|jpg|png|css)$ /index.php

